<mat-card>
    <form [formGroup]="form" (submit)='onSavePost()'>
        <mat-form-field class='example-full-width'>
            <input matInput type="text" formControlName='name' placeholder="Enter Name" required>
            <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class='example-full-width'>
            <input matInput type="text" formControlName='contactNumber' placeholder="Enter Contact Number" required>
            <mat-error *ngIf="form.get('contactNumber').invalid">Contact  Number is require</mat-error>
        </mat-form-field>

        <mat-form-field class='example-full-width'>
            <input matInput type="text" formControlName='email' placeholder="Enter Email Address" required>
            <mat-error *ngIf="form.get('email').invalid">Email Address is required</mat-error>
        </mat-form-field>

        <button 
        mat-raised-button
        color='accent'
        value="submit">Save User</button>
    </form>
</mat-card>
