<mat-accordion multi='true' *ngIf='posts.length > 0'>
    <mat-expansion-panel *ngFor='let post of posts'>
      <mat-expansion-panel-header>
          {{post.name}}
      </mat-expansion-panel-header>
        <p>{{post.contactNumber}}</p> 
        <p>{{post.email}}</p> 
      <mat-action-row *ngIf='userIsAuthenticated'>
        <a mat-button color='primary' [routerLink]= "['/edit', 'postId']">ADD MORE</a>
        <button mat-button color='accent' (click)= 'onDelete(post.id)'>DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class=" info-text mat-body-1"  *ngIf='posts.length<=0'>No posts added yet</p>